:root {
  --black: #202020;
  --dark-grey: #3f3f3f;
  --medium-grey: #707070;
  --yellow: #ffdf6c;
  --white: #ffffff;
}

@font-face {
  font-family: "Gantari";
  src: url("../fonts/Gantari-Regular.ttf");
}

/* Règles body */
body {
  margin: 0;

  font-family: "Gantari", sans-serif;
  color: var(--black);

  background-color: var(--white);
}

/* Règles header */
header {
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: center;

  font-size: 18px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

/* Règles nav */

header nav {
  width: 100%;
}

header nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  width: 100%;
}

header nav li {
  flex-grow: 1;
}

header nav a {
  color: var(--white);
  background-color: var(--black);

  display: block;
  line-height: 80px;
  padding: 0 30px;
  position: relative;

  text-decoration: none;
  text-align: center;
  font-size: 1.2em;

  transition: background-color 0.3s, color 0.3s, font-size 0.3s;
}

header nav li:first-child a::before {
  border-left: none;
}

header nav a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10%;
  height: 80%;
  width: 1px;
  border-left: 1px solid var(--white);
  border-radius: 10px;
}

header nav a:hover {
  background-color: var(--dark-grey);
}

a.actif {
  color: var(--yellow);
}

/* Règles main */

main {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap-reverse;

  width: 75%;
  margin: auto;
}

/* Règles aside */
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  height: 100%;
  width: 280px;
  padding: 15px 25px;
  margin: 20px;

  border-radius: 6px;

  background-color: var(--black);
  color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

aside figure {
  width: 246px;
  height: 246px;
  border-radius: 360px;
  margin: 0;

  box-shadow: 0 0 10px rgb(255, 255, 255, 0.8);

  background-color: var(--white);

  overflow: hidden;
}

aside .photo-profil {
  display: block;
  margin: auto;
  width: 204px;
}

aside h2 {
  color: var(--yellow);
  font-size: 2em;
  margin: 20px 0;
}

aside ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

aside .infos > li {
  padding-bottom: 25px;
  text-align: justify;
}

aside .infos > li:last-child {
  padding-bottom: 0;
}

.emojis {
  display: inline-block;
  width: 23px;
  text-align: center;
}

.reseaux ul {
  display: flex;
  gap: 6px;
}

.reseaux li {
  height: 24px;
  width: 24px;
}

.reseaux a {
  display: block;
  height: 100%;
  width: 100%;

  border-radius: 2px;

  transition: background-color 0.2s;
}

.reseaux a:hover {
  background-color: var(--medium-grey);
}
/* Règles article */
article {
  text-align: justify;

  flex-grow: 1;
  flex-basis: 600px;

  padding: 0 30px;
}

article h1 {
  font-size: 2em;
}

article h2 {
  font-size: 1.6em;
}

/* Règles section */

article section:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

article section:last-of-type {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (max-width: 1500px) {
  main {
    width: 100%;
  }
}
